body {
padding-top: 50px;
}
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

header{ 
margin-bottom: 50px;
}

.posts h1{
padding-bottom: 20px;
border-bottom: 1px solid #e6eaed;
font-weight: bold;
}
.posts article{
padding-bottom: 10px;
border-bottom: 1px solid #e6eaed;
}
.post, .posts{
	padding:10px 20px;
	box-shadow: 2px 0 5px rgba(214, 214, 215, 0.9), -2px 0 5px rgba(214, 214, 215, 0.9);
}