  <footer class='footer'>
	<div class="container">
	<div class="info">
	<p class="pull-right"><a href="#">回到页首</a></p>
	<p>Copyright&copy; 2014 安达公司. &middot;  All Rights Reserved. 版权所有 </p>
	</div>
	</div>
  </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F97aaf186eb3d138077f97c60c5f22ada' type='text/javascript'%3E%3C/script%3E"));
</script>    
</body>
</html>
