<!DOCTYPE HTML>    
<html lang="en-US">
<head>
  <meta charset="UTF-8">
	<title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->




  <link rel="icon" type="image/png" href="/favicon.png" />
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
 <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
 <link href="/css/style.css" rel="stylesheet">
  

  <!-- RSS Feed -->
<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2394657-10', 'loyogo.github.io');
  ga('send', 'pageview');
</script>
</head>


<body>
<header>
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">安达国际物流运输公司</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
		  <li><a href="/">首页</a></li>
             <li><a href="/gongsijieshao.html">公司介绍</a></li>
			 <li><a href="/fuwu.html">服务项目</a></li>
			 <li><a href="/lianxi.html">联系我们</a></li>
			<li><a href="/zizhi.html">资质荣誉</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://weibo.com/andaguojiwuliu" target="_blank"><i class="fa fa-weibo"></i> 微博</a></li>
            <li><a href="#weixin" class="" data-toggle="modal" data-target="#weixin"><i class="fa fa-github"></i> 微信</a></li>
	<li><a href="/feed.xml" target="_blank"><i class="fa fa-phone "></i> 电话 123456789 </a></li>
	<li><a href="/feed.xml" target="_blank"><i class="fa fa-user "></i> 赵经理</a></li>
          </ul>
        </div>
      </div>
</div>
</header>		
<body>
{{content}}

      <footer class='footer'>
		<div class="container">
		<div class="info">
        <p class="pull-right"><a href="#">回到页首</a></p>
        <p>Copyright&copy; 2014 安达公司. &middot;  All Rights Reserved. 版权所有 </p>
		</div>
		</div>
      </footer>
	  
	  
	  <div class="modal fade" id="weixin">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">请加入以下微信号或者扫描</h4>
		  </div>
		  <div class="modal-body">
			<p>One fine body&hellip;</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	 <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="/js/holder.js"></script>
    
</body>

</html>
